@tailwind base;
@tailwind components;
@tailwind utilities;

.dropdown {
  @apply block rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50;
}

.resultItem {
  @apply flex flex-col shadow p-4 rounded-lg;
  width: calc(25% - 12px);
  @media (max-width: 1024px) {
    width: calc(50% - 8px);
  }
  @media (max-width: 1024px) {
    width: calc(100%);
  }
}
